<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container bg-dark m-5 p-5 text-white">
      <div class="field">
        <%= form.label :Titulo %>
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <%= form.label :Autor %>
        <%= form.text_field :author %>
      </div>

      <div class="field">
        <%= form.label :"Lo regresaron el: "%>
        <%= form.date_select :date_in %>
      </div>

      <div class="field">
        <%= form.label :"Lo preste el: " %>
        <%= form.date_select :date_out %>
      </div>

      <div class="field">
        <%= form.label :Comentario %>
        <%= form.text_area :coment %>
      </div>

      <div class="field">
        <%= form.label :estatus %>
        <%= form.select :status, Book.statuses.keys %>
      </div>

      <div class="actions">
        <%= form.submit %>        
      </div>
  </div>
<% end %>
